params {
    outdir = 'results'
}

process {
    executor = 'local'
    cpus = 4
    memory = '16 GB'
    time = '12h'

    withName: INTEGRATE_SEURAT {
        cpus = 8
        memory = '32 GB'
    }
}

conda.enabled = true

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
}
